@import 'tailwindcss.less';
@import 'preflight.less';
// 公共样式
@import 'color.less';
@import 'transition.less';

// antdv样式
@import 'ant/index';

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

html {
  overflow: hidden;
  text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
  // margin: 0;
  // font-family: "Poppins",sans-serif;
  // font-size: .8125rem;
  // font-weight: 400;
  // line-height: 1.5;
  // color: #212529;
  // background-color: #f3f3f9;

  &.color-weak {
    filter: invert(80%);
  }

  &.gray-mode {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none;
}
