// 表格表头线隐藏
.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0 !important;
}
// 菜单管理图标更换
.no-icon {
  margin-top: 2.5005px;
  margin-right: 8px;
  visibility: hidden;
}
.expanded-icon {
  margin-top: 2.5005px;
  margin-right: 8px;
  cursor: pointer;
  color: #c7c7c7 !important;
}
